<div class="stage">
    <div class="heading">
        <div class="pseudo-link__icon--arrow-left">
            <a [routerLink]="['/registration-page']"><span></span></a>
        </div>
    </div>

    <div class="registration util-margin-vertical-m">
        <img src="/assets/img/envelope-solid.svg" alt="Validation link emailed" class="registration__confirm--envelope">
        <div class="registration__confirm--sent"><p>A <em><strong>validation link</strong></em> has been sent to the email address you have provided. Please check your inbox and click the link to validate your email.</p></div>
        <div class="registration__confirm--activation"><a [routerLink]="['/navigation/home']"><p class="util-center-text">Activate my account</p></a></div>
        <div class="registration__confirm--other-account"><p class="util-center-text">or <a [routerLink]="['/login-screen']">sign in</a> to an existing account?</p></div>
    </div>
</div>