<div class="stage">
  <div class="logo start-screen__splash--logo">
    <p>findWorkr</p></div>
  <div class="login start-screen__splash--login">
    <div class="util-margin-top-l">
      <p>Log in with your account..</p></div>
    <div class="util-margin-top-xs">
        <a [routerLink]="['/login-screen']" class="btn btn__capsule-blue btn__capsule-blue--login"
            id="btn-login">Login</a></div>
    <div class="util-margin-top-m">
        <p>or create a new one!</p></div>
    <div class="util-margin-top-xs">
        <a [routerLink]="['/registration-page']" class="btn btn__capsule-white btn__capsule-white--register"
            id="btn-register">Register</a></div>
    <div class="util-margin-vertical-m">
        <a [routerLink]="['/under-construction']" class="forgot-pwd">Forgot password?</a></div></div></div>