<div class="stage">
  <div class="logo start-screen__splash--logo">
    <p>findWorkr</p></div>
  <div class="login start-screen__splash--login">
    <div class="util-margin-top-l">
      <p>Do you have an account?</p></div>
    <div class="util-margin-top-xs">
        <a [routerLink]="['/login-email']" class="btn btn__capsule-blue btn__capsule-blue--login"
            id="btn-login">Login</a></div>
    <div class="util-margin-top-m">
        <p>Or you want to Create?</p></div>
    <div class="util-margin-top-xs">
        <a [routerLink]="['/register']" class="btn btn__capsule-white btn__capsule-white--register"
            id="btn-register">Register</a></div>
    <div class="util-margin-vertical-m">
        <a href="#" class="forgot-pwd">Forgot password?</a></div></div></div>