
<div class="stage">
  <div class="heading">
      <div class="heading__title">
          <a [routerLink]="['../home']" class="findworkr-logo util-center"><p >findWorkr</p></a>
          <!-- <a [routerLink]="" (click)="enterFullScreen()"><fa-icon [icon]="faCog" class="heading__icon"></fa-icon></a> -->
      </div>
  </div>
  <div class="contents">
      <div class="card-box">
          <div class="contents__title">
              <a [routerLink]="['../categories']" class="contents__icon--arrow-left">
                  <div><fa-icon [icon]="faArrowLeft"></fa-icon></div></a>
              <img src="../../assets/img/preview/graphics_design/23053@3x.png" alt="Graphics & Designs" class="contents__title--thumbnail">
              <h3>Graphics & Design</h3>
              <span class="contents__title--description">Logo & Brand Identity | Art & Illustration</span>
          </div>
          <div class="profile__card profile__card--logo-brand">
              <ul>
                  <li><h3>Logo & Brand Identity</h3></li>
                  <li>
                      <a [routerLink]="['../logo-design']" class="btn__selection--arrow">
                          <span>Logo design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Branding consultation</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Business Cards & Stationery</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--art-illustration">
              <ul>
                  <li><h3>Art & Illustration</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Illustration Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Pattern Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Tattoo Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Portraits & Caricatures</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Character Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Storyboard Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--game-entertainment">
              <ul>
                  <li><h3>Game & Entertainment</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Game Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Graphics for Streamers</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Twitch Store</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--designs-packaging">
              <ul>
                  <li><h3>Designs and Packaging</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Book Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Album Cover Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Podcast Cover Art</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Packaging Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Car Wraps</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--web-mobile">
              <ul>
                  <li><h3>Web & Mobile</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Web and Mobile App Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Social Media Design & Marketing</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Banner Ads</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--architecture">
              <ul>
                  <li><h3>Architecture & Building Design</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Architecture & Interior Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Landscape Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Building Information Modeling</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Trade Booth Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--product-character">
              <ul>
                  <li><h3>Product & Character Design</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Industrial & Product Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Character Design & 3D Modeling</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--print-design">
              <ul>
                  <li><h3>Print Design</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Flyer Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Brochure Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Poster Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Catalog Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Menu Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Postcard Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Invitation Design</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--merchandise">
              <ul>
                  <li><h3>Merchandise</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>T-Shirts & Merchandise</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul></div>
          <div class="profile__card profile__card--misc">
              <ul>
                  <li><h3>Miscellaneous</h3></li>
                  <li>
                      <a [routerLink]="" class="btn__selection--arrow">
                          <span>Others</span>
                          <fa-icon [icon]="faAngleRight"></fa-icon></a></li>
              </ul>
          </div>
          <a [routerLink]="['../categories']" class="btn__block util-margin-top-s">
              <span>Back</span>
          </a>
      </div>
  </div>
</div>
