*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //iphone X
    // font-size: 50%; // for phones smaller than iphone X
}

body {
    background-color: $color-grey-light-1;
    color: $color-primary-contrast;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

h1 {
    color: $color-white;
    font-family: Helvetica;
    font-size: 3.4rem;
}

@media only screen and (min-width: 320px) {
    html {
        font-size: 40%; } }

@media only screen and (min-width: 360px) {
    html {
        font-size: 50%; } }

@media only screen and (min-width: 375px) {
    html {
        font-size: 62.5%; } }

// @media only screen and (min-width: 768px) { // optimized for tablet or larger devices
//     html {
//         font-size: 70%; } }

