@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';

.findworkr {
    &__banner {
        @include summer-sky-gradient-1;
        height: 10rem;
        ;
            .findworkr-logo {
                color: white;
                padding-top: $margin-top-s;
                text-align: center;
            }

            hr {
                border-color: rgba($color-black, $alpha: 0.2);
                border-width: .5rem;
                border-style: solid none none none;
                position: absolute;
                top: 4.5rem;
                left: 0;
                width: 100%;
                margin: 5rem auto 1.6rem auto; }
} }
