@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';

.findworkr {
    &__banner {
        height: 10rem;
        // background-image: linear-gradient(45deg, #1e90ff, darken(#1e90ff, 20%));
        background: rgb(32,47,161);
        background: linear-gradient(71deg, rgba(32,47,161,1) 0%, rgba(9,36,121,1) 50%, rgba(53,7,112,1) 100%);
        box-shadow:
            0 .4rem 6rem rgba(#000000, 0.4),
            0 .4rem .4rem rgba(#000000, 0.2)
        ;
            .findworkr-logo {
                color: white;
                padding-top: $margin-top-s;
                text-align: center; }
} }
