@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';


.stage {
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__title {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-s; } }
    .content {
        .container {
            @include soft-ui__card;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin: 0 auto;
            position: relative;
            width: calc(100% - .5rem);
            height: calc(100vh - 20rem);
            ul {
                font-size: 1.4rem;
                line-height: 3rem;
                list-style-type: none;
                text-align: center; }
            .btn {
                &__inbox {
                    &--icon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        color: $color-primary-contrast;
                        font-size: 1.2rem;

                        position: absolute;
                        right: 2rem;
                        top: 2rem;

                        width: 8rem;
                        height: 3rem;
                        &:link, &:visited {
                            @include soft-ui__btn-inset;
                            color: $color-primary-contrast; }
                        &:hover {
                            @include soft-ui__btn-inset--hover;
                            color: $color-primary; }
                        &:active {
                            @include soft-ui__btn-inset--active;
                            color: $color-primary;
                            transform: translateY(0); } }
                    &--name {
                        margin-left: .2rem; } } }

            .watermark__envelop {
                    font-size: 8rem;
                    margin-bottom: $margin-bottom-s; }
} } }

@media  (orientation: landscape)
    and (max-height: 414px) {
    .stage .content {
        height: 70vh;
    }
}
