<div class="stage">
    <div class="heading">
        <div class="heading__title">
            <a [routerLink]="['/navigation/home']" class="findworkr-logo"><p >findWorkr</p></a>
            <fa-icon [icon]="faFilter" class="heading__icon"></fa-icon>
        </div>
    </div>
    <div class="content">
        <ul>
            <li><fa-icon [icon]="faEnvelope" class="content__icon"></fa-icon></li>
            <li><h3>Welcome to your message</h3></li>
            <li>Looks like you don't have any messages.</li>
            <li><a [routerLink]="">Browse</a> or <a [routerLink]=""> post a project.</a></li>
        </ul>
    </div>
</div>
