<div class="stage">
    <div class="heading">
        <div class="heading__title">
            <a [routerLink]="['../home']" class="findworkr-logo"><p >findWorkr</p></a>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <a [routerLink]="" class="btn__inbox--icon">
                <div><img src="../../assets/img/filter.svg" alt="filter messages"></div>
                <!-- <div><fa-icon [icon]="faFilter"></fa-icon></div> -->
                <div class="btn__inbox--name">Filter</div></a>
            <ul>
                <li><p><fa-icon [icon]="faEnvelope" class="watermark__envelop"></fa-icon></p></li>
                <li><h3>Welcome to your message</h3></li>
                <li>Looks like you don't have any messages.</li>
                <li><a [routerLink]="" class="util-link-blue">Browse</a> or <a [routerLink]="" class="util-link-blue"> post a project.</a></li>
            </ul>
        </div>
    </div>
</div>
