<div class="stage">
    <div class="heading">
        <div class="heading__title">
            <a [routerLink]="['/navigation/home']" class="findworkr-logo"><p >findWorkr</p></a>
        </div>
    </div>
    <div class="cardbox">
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/graphics_design/23053@3x.png" alt="Graphics & Design">
			<ul>
				<li><h4>Graphics & Design</h4></li>
				<li>Logo & Brand Identity | Art & Illustration</li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
      <img src="../../assets/img/preview/digital_marketing/139@3x.png" alt="Digital Marketing">
			<ul>
				<li><h4>Digital Marketing</h4></li>
				<li>Social Media Marketing, SEO </li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/programming_tech/19858@3x.png" alt="Writing & Translating">
			<ul>
				<li><h4>Writing & Translating</h4></li>
				<li>Articles & Blog Posts</li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/video_animation/2472569@3x.png" alt="Video & Animation">
			<ul>
				<li><h4>Video & Animation</h4></li>
				<li>Storyboarding & Video Editing</li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/music_audio/3844@3x.png" alt="Music & Audio">
			<ul>
				<li><h4>Music & Audio</h4></li>
				<li>Composing | Narrating & Voice Over</li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/programming_tech/19858@3x.png" alt="Programming & Tech">
			<ul>
				<li><h4>Programming & Tech</h4></li>
				<li>Website building & CMS</li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/business/195548-OY9OIN-908@3x.png" alt="Business">
			<ul>
				<li><h4>Business</h4></li>
				<li>Visual Assistant | Data Management Service</li>
			</ul>
		</a>
		<a [routerLink]="['/navigation/categories']" class="card">
			<img src="../../assets/img/preview/lifestyle/47101@3x.png" alt="Lifestyle">
			<ul>
				<li><h4>Lifestyle</h4></li>
				<li>Fitness Coaching, Vocal Lessons, etc.</li>
			</ul>
		</a>
	</div>
</div>








