<div class="stage">

    <div class="heading">
        <div class="btn__arrow--left">
            <a [routerLink]="['/login-screen']">
                <div></div></a></div>
        <div class="heading__login"><p>To login screen</p></div>
    </div>


    <div class="login__input">
        <p class="under-construction">Under Construction</p>
        <p><em>"I'm working on this part.</em></p>
        <p><em>Please check back for updates."</em></p>
        <p class="signature">DK</p>
    </div>

</div>