<div class="stage">

    <div class="heading">
        <div class="btn__arrow--left">
            <a [routerLink]="['/start-screen']">
                <div></div></a></div>
        <div class="heading__login"><p>Login</p></div>
    </div>


    <div class="login__input">
        <label class="login__input--label">Your phone number or email</label>
        <input (input)="hasInput()"
                type="text" class="input login__input--id util-margin-bottom-m">
        <label class="login__input--label until-margin-top-m">Your password</label>
        <input (input)="hasInput()"
                type="password" class="input login__input--password">
        <div *ngIf="!formCompleted" style="margin-top: 11rem;">
            <a [routerLink]="['/under-construction']" class="btn btn__capsule-grey btn__capsule-grey--inactive">Sign in</a></div>
        <div *ngIf="formCompleted" style="margin-top: 11rem;">
            <a [routerLink]="['/under-construction']" class="btn btn__capsule-blue btn__capsule-blue--login">Sign in</a></div>
        <div class="util-margin-vertical-l">
            <p>OR</p></div>
        <div>
            <a [routerLink]="['/under-construction']" class="btn btn__capsule-white btn__capsule-white--facebook"
                id="btn-facebook">Continue with Facebook</a></div>
        <div class="util-margin-top-s">
            <a [routerLink]="['/under-construction']" class="btn btn__capsule-white btn__capsule-white--google 
                util-margin-horizontal-s" id="btn-google">Continue with Google</a></div>
        <div class="util-margin-vertical-m">
            <a [routerLink]="['/registration-page']" class="sign-up">Don't have an account? <span style="text-decoration: underline;">Sign up</span></a></div>
    </div>

</div>