<div class="stage">

    <div class="heading">
        <div class="btn__arrow--left">
            <a [routerLink]="['/start-screen']">
                <div></div></a></div>
        <div class="heading__login"><p>Login</p></div> </div>

    <div class="login__input">
        <label class="login__input--label">Your phone number or email</label>
        <input (input)="hasInput()"
                type="text" class="input login__input--id util-margin-bottom-m">
        <label class="login__input--label until-margin-top-m">Your password</label>
        <input (input)="hasInput()"
                type="password" class="input login__input--password">
        <div *ngIf="!formCompleted" style="margin-top: 11rem;">
            <a [routerLink]="['/under-construction']" class="btn btn__capsule-grey btn__capsule-grey--inactive">Sign in</a></div>
        <div *ngIf="formCompleted" style="margin-top: 11rem;">
            <a [routerLink]="['/under-construction']" class="btn btn__capsule-blue btn__capsule-blue--login">Sign in</a></div>
        <div class="util-margin-vertical-l">
            <p>OR</p></div>
        <div>
            <a (click)="openPopup('facebook')" [routerLink]="['/login-screen']" class="btn btn__capsule-white btn__capsule-white--facebook"
                id="btn-facebook">Continue with Facebook</a></div>
        <div class="util-margin-top-s">
            <a (click)="openPopup('google')" [routerLink]="['/login-screen']" class="btn btn__capsule-white btn__capsule-white--google 
                util-margin-horizontal-s" id="btn-google">Continue with Google</a></div>
        <div class="util-margin-vertical-m">
            <a [routerLink]="['/registration-page']" class="sign-up">Don't have an account? <span style="text-decoration: underline;">Sign up</span></a></div></div>
</div>

<div *ngIf="popupVisible" class="popup">
    <div *ngIf="credentialPlatform === 'facebook'" class="popup__content">
        <a (click)="closePopup()" [routerLink]="['/login-screen']" class="popup__close">&times;</a>
        <div> 
            <img src="/assets/img/facebook-color-original-square-transparent.svg" alt="facebook-logo" class="facebook--logo"></div>
        <div>
            <img src="/assets/img/Cool-Male-Avatars-03_34322@3x.png" alt="facebook-avatar" class="facebook--avatar"></div>
            <p class="facebook--name">Adam</p>
        <div class="facebook--terms">
            <p>Findworkr.com will have access to name, email address and other public info.</p></div>
        <div class="facebook--edit-profile">
            <a [routerLink]="['/login-screen']">Edit the info you provide</a></div>
        <div>
            <a [routerLink]="['/under-construction']" class="btn facebook--login-button">Continue as Adam</a></div>
        <div class="facebook--privacy-policy">
            <p>Findworkr.com's <a [routerLink]="['/login-screen']">Privacy Policy and Terms</a></p></div>
    </div>        

    <div  *ngIf="credentialPlatform === 'google'" class="popup__content">
        <a (click)="closePopup()" [routerLink]="['/login-screen']" class="popup__close">&times;</a>
        <div>
            <img src="/assets/img/google-color-original.svg" alt="google-logo" class="google--logo"></div>
        <div><p class="google--choose-account">Choose an account</p></div>
        <div><p class="google--continue">To continue to Freelancer - Findworkr</p></div>
        <div class="google--user-account">
            <img src="/assets/img/Cool-Male-Avatars-03_34322@3x.png" alt="google-avatar" class="google--avatar">
            <a [routerLink]="['/login-screen']"><ul style="list-style-type:none;">
                <li><div class="google--name">Adam Cray</div></li>
                <li>adamcray@gmail.com</li>
            </ul></a></div>
        <hr>
        <div class="google--add-account">
            <img src="/assets/img/user-plus.svg" alt="add-account" class="google--add">
            <div class="google--name"> Add another account</div></div>
        <hr>
        <div>
            <p class="google--privacy-policy">To continue, google will share your name, email address, and profile picture with freelancer - Findwork. Before using this app, review it’s <a [routerLink]="['/login-screen']">privacy policy and terms of service</a>.</p></div>
    </div>        
</div>