// Float layout template properties
$grid-width: 114rem;
$column-width: 50rem;
$column-width-mobile: 30rem;
$gap-x: 6rem;
$gap-y: 1rem;

// Spacers
$margin-xxs: .5rem;
$margin-xs: 1rem;
$margin-s: 2rem;
$margin-m: 4rem;
$margin-l: 6rem;
$margin-xl: 8rem;

$margin-v-xs: 1rem;
$margin-v-s: 2rem;
$margin-v-m: 4rem;
$margin-v-l: 6rem;
$margin-v-xl: 8rem;

$margin-h-xxs: .5rem;
$margin-h-xs: 1rem;
$margin-h-s: 2rem;
$margin-h-m: 4rem;
$margin-h-l: 6rem;
$margin-h-xl: 8rem;

$margin-top-xxs: .5rem;
$margin-top-xs: 1rem;
$margin-top-s: 2rem;
$margin-top-m: 4rem;
$margin-top-l: 6rem;
$margin-top-xl: 8rem;

$margin-bottom-xxs: .5rem;
$margin-bottom-xs: 1rem;
$margin-bottom-s: 2rem;
$margin-bottom-m: 4rem;
$margin-bottom-l: 6rem;
$margin-bottom-xl: 8rem;

$margin-left-xxs: .5rem;
$margin-left-xs: 1rem;
$margin-left-s: 2rem;
$margin-left-m: 4rem;
$margin-left-l: 6rem;
$margin-left-xl: 8rem;

$margin-right-xxs: .5rem;
$margin-right-xs: 1rem;
$margin-right-s: 2rem;
$margin-right-m: 4rem;
$margin-right-l: 6rem;
$margin-right-xl: 8rem;

// Color theme: Black and White Mode ##################
// $color-white: white;
// $color-black: black;

// $color-grey-light-1: #e0e0e0;
// $color-grey-light-2: #d0d0d0;
// $color-grey-light-3: #c0c0c0;

// $color-primary: #f0fff0;
// $color-primary-rgb: rgb(240,255,240);
// $color-primary-contrast: #000000;
// $color-primary-contrast-rgb: rgb(0,0,0);
// $color-primary-shade: #d3e0d3;
// $color-primary-tint: #f2fff2;
// $color-primary-accent: silver;

// $color-secondary: #1a1a1a;
// $color-secondary-rgb: rgb(26,26,26);
// $color-secondary-contrast: #ffffff;
// $color-secondary-contrast-rgb: rgb(255,255,255);
// $color-secondary-shade: #171717;
// $color-secondary-tint: #313131;

$color-white: white;
$color-black: black;

$color-grey-light-1: #F4F4F4;

$color-primary: #4db2ec;
$color-primary-rgb: rgb(77, 178, 236);
// $color-primary: #82B7E5;
// $color-primary-rgb: rgb(130, 183, 229);
$color-primary-contrast: #707070;
$color-primary-shade: #72a1ca;
$color-primary-tint: #8fbee8;
