// Float layout template properties
$grid-width: 114rem;
$column-width: 50rem;
$column-width-mobile: 30rem;
$gap-x: 6rem;
$gap-y: 1rem;

// Spacers
$margin-xxs: 1rem;
$margin-xs: 2rem;
$margin-s: 3rem;
$margin-m: 4rem;
$margin-l: 5rem;
$margin-xl: 6rem;
$margin-xxl: 7rem;

// $margin-vertical-xxs: 1rem;
// $margin-vertical-xs: 2rem;
// $margin-vertical-s: 3rem;
// $margin-vertical-m: 4rem;
// $margin-vertical-l: 5rem;
// $margin-vertical-xl: 6rem;
// $margin-vertical-xxl: 7rem;

// $margin-horizontal-xxs: 1rem;
// $margin-horizontal-xs: 2rem;
// $margin-horizontal-s: 3rem;
// $margin-horizontal-m: 4rem;
// $margin-horizontal-l: 5rem;
// $margin-horizontal-xl: 6rem;
// $margin-horizontal-xxl: 7rem;

$margin-top-xxs: 1rem;
$margin-top-xs: 2rem;
$margin-top-s: 3rem;
$margin-top-m: 4rem;
$margin-top-l: 5rem;
$margin-top-xl: 6rem;
$margin-top-xxl: 7rem;

$margin-bottom-xxs: 1rem;
$margin-bottom-xs: 2rem;
$margin-bottom-s: 3rem;
$margin-bottom-m: 4rem;
$margin-bottom-l: 5rem;
$margin-bottom-xl: 6rem;
$margin-bottom-xxl: 7rem;

$margin-left-xxs: 1rem;
$margin-left-xs: 2rem;
$margin-left-s: 3rem;
$margin-left-m: 4rem;
$margin-left-l: 5rem;
$margin-left-xl: 6rem;
$margin-left-xxl: 7rem;

$margin-right-xxs: 1rem;
$margin-right-xs: 2rem;
$margin-right-s: 3rem;
$margin-right-m: 4rem;
$margin-right-l: 5rem;
$margin-right-xl: 6rem;
$margin-right-xxl: 7rem;

// COLOR THEME: Black and White Mode ##################
// $color-white: white;
// $color-black: black;

// $color-grey-light-1: #e0e0e0;
// $color-grey-light-2: #d0d0d0;
// $color-grey-light-3: #c0c0c0;

// $color-primary: #f0fff0;
// $color-primary-rgb: rgb(240,255,240);
// $color-primary-contrast: #000000;
// $color-primary-contrast-rgb: rgb(0,0,0);
// $color-primary-shade: #d3e0d3;
// $color-primary-tint: #f2fff2;
// $color-primary-accent: silver;

// $color-secondary: #1a1a1a;
// $color-secondary-rgb: rgb(26,26,26);
// $color-secondary-contrast: #ffffff;
// $color-secondary-contrast-rgb: rgb(255,255,255);
// $color-secondary-shade: #171717;
// $color-secondary-tint: #313131;


// COLOR THEME: Flat Theme ##################
// $color-white: white;
// $color-black: black;

// $color-grey-light-1: #f4f4f4;
// $color-grey-light-2: #d4d4d4;
// $color-grey-light-3: #a4a4a4;

// $color-primary: #4db2ec;
// $color-primary-rgb: rgb(77, 178, 236);
// // $color-primary: #82B7E5;
// // $color-primary-rgb: rgb(130, 183, 229);
// $color-primary-contrast: #707070;
// $color-primary-shade: #72a1ca;
// $color-primary-tint: #8fbee8;

// COLOR THEME: Soft-UI ##################
$color-white: white;
$color-black: black;

$color-grey-light-1: #e0e0e0;
$color-grey-light-2: #d0d0d0;
$color-grey-light-3: #c0c0c0;

$color-primary: #4db2ec;
$color-primary-rgb: rgb(77, 178, 236);
// $color-primary: #82B7E5;
// $color-primary-rgb: rgb(130, 183, 229);
$color-primary-contrast: #505050;
$color-primary-shade: #72a1ca;
$color-primary-tint: #8fbee8;
