.findworkr-logo {
	color: $color-primary;
	font-family: 'Baloo Thambi 2', Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: bold; 
	text-decoration: none; }
	// text-shadow: 0 .2rem .4rem rgba($color-black, 0.2); }
	// text-shadow: 0 .2rem .6rem rgba(#00559F, 0.2); }