@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';

.stage {
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__title {
            display: flex;
            // align-items: baseline;
            flex-direction: row;
            justify-content: flex-end;

            color: $color-primary-contrast;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-s;
            position: relative;
            width: 100%;
            fa-icon {
                position: absolute;
                font-size: 2rem;
                top: 1rem;
                right: .5rem; } }
        &__icon {
            font-size: 2rem; } }
            // &--menu {
            //     color: $color-primary-contrast;
            //     font-size: 3rem;
            //     margin-left: $margin-left-xxs; } } }

    .contents {
        .card-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            // background-color: goldenrod;
            margin: 0 auto;
            padding-bottom: 5rem;
            width: calc(100% - .5rem);
            p {
                color: $color-primary;
                font-size: 1.6rem; }
            .profile {
                &__card {
                    padding: 3rem 2rem 2rem 2rem;
                    &:not(:first-child) {
                        margin-top: $margin-top-xxs; }

                    &--user {
                        flex-basis: 100%;

                        color: $color-primary;
                        font-weight: 300;
                        img {
                            transform: translateX(-1rem);
                            width: 8rem;
                            height: 8rem; } }
                    &--my-findworkr {
                        flex-basis: 100%; }
                    &--selling {
                        flex-basis: 100%; }
                    &--buying {
                        flex-basis: 100%; }
                    &--general {
                        flex-basis: 100%;
                        ul li:nth-child(2) {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between; } }
                    ul {
                        list-style-type: none;
                        li:not(:first-child) {
                            margin: 1rem 0; }

} } } } } }

@media only screen
    // and (orientation: portrait)
    and (min-width: 567px) {

        .stage .contents .card-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            margin: 0 auto;
            padding-bottom: 5rem;
            width: calc(100% - .5rem);
            p {
                color: $color-primary;
                font-size: 1.6rem; }

            .profile {
                &__card {
                    @include soft-ui__card;

                    padding: 3rem 2rem 2rem 2rem;
                    &:not(:first-child) {
                        margin-top: $margin-top-xxs; }

                    // &:last-child {
                    //     margin-bottom: $margin-bottom-xxl; }

                    &--user {
                        flex-basis: 100%;

                        color: $color-primary;
                        img {
                            transform: translateX(-1rem);
                            width: 8rem;
                            height: 8rem; } }
                    &--my-findworkr {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    &--selling {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    &--buying {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    &--general {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    ul {
                        list-style-type: none;
                        li:not(:first-child) {
                            margin: 1rem 0; } }
} } } }
