@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';

.stage {
    background-color: $color-grey-light-1;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__title {
            display: flex;
            // align-items: baseline;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;;

            color: $color-primary-contrast;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-xs;
            width: 100%; 
            fa-icon {
                position: absolute;
                top: 0;
                right: 0; } }
        &__icon {
            font-size: 2rem; } }
            // &--menu {
            //     color: $color-primary-contrast;
            //     font-size: 3rem;
            //     margin-left: $margin-left-xxs; } } }

    .contents {
        .card-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            padding-bottom: 5rem;
            p {
                color: $color-primary;
                font-size: 1.6rem; }
    
            .profile {
                &__card {
                    background-color: $color-white;
                    border-radius: .8rem;
                    box-shadow: .3rem .3rem .6rem rgba($color-primary-contrast, $alpha: .2);
                    padding: 3rem 2rem 2rem 2rem;

                    &:not(:first-child) {
                        margin-top: $margin-top-xxs; }
    
                    &--user {
                        flex-basis: 100%;

                        color: $color-primary;
                        font-weight: 300;
                        img {
                            transform: translateX(-1rem);
                            width: 8rem;
                            height: 8rem; } }
                    &--my-findworkr {
                        flex-basis: 100%; }
                    &--selling {
                        flex-basis: 100%; }
                    &--buying {
                        flex-basis: 100%; }
                    &--general {
                        flex-basis: 100%; 
                        ul li:nth-child(2) {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between; } }
                    ul {
                        list-style-type: none;
                        li:not(:first-child) {
                            margin: 1rem 0; }
    
} } } } } }

@media only screen
    // and (orientation: portrait)
    and (min-width: 567px) {

        .stage .contents .card-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            padding-bottom: 5rem;
            p {
                color: $color-primary;
                font-size: 1.6rem; }
    
            .profile {
                &__card {
                    background-color: $color-white;
                    border-radius: .8rem;
                    box-shadow: .3rem .3rem .6rem rgba($color-primary-contrast, $alpha: .2);
                    padding: 3rem 2rem 2rem 2rem;

                    &:not(:first-child) {
                        margin-top: $margin-top-xxs; }
                    
                    // &:last-child {
                    //     margin-bottom: $margin-bottom-xxl; }
    
                    &--user {
                        flex-basis: 100%;

                        color: $color-primary;
                        img {
                            transform: translateX(-1rem);
                            width: 8rem;
                            height: 8rem; } }
                    &--my-findworkr {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    &--selling {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    &--buying {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    &--general {
                        flex-basis: calc(50% - (#{$margin-top-xxs}/2)); }
                    ul {
                        list-style-type: none;
                        li:not(:first-child) {
                            margin: 1rem 0; } }
} } } }