
<div class="stage">
    <div class="heading">
        <div class="heading__title">
            <fa-icon [icon]="faCog" class="heading__icon"></fa-icon>
        </div>
    </div>
    <div class="contents">
        <div class="card-box">
            <div class="profile__card profile__card--user">
                <ul>
                    <li><img src="../../assets/img/Cool-Male-Avatars-03_34322@3x.png" alt=""></li>
                    <li><p style="font-size: 1.8rem;">Adam Cray</p></li>
                    <li>My personal balance: THB0</li>
                </ul>
            </div>
            <div class="profile__card">
                <ul>
                    <li><h3>My findworkr</h3></li>
                    <li>Saved gigs</li>
                    <li>My interests</li>
                </ul>
            </div>
            <div class="profile__card">
                <ul>
                    <li><h3>Selling</h3></li>
                    <li>Post my work</li>
                    <li>My interests</li>
                </ul>
            </div>
            <div class="profile__card">
                <ul>
                    <li><h3>Buying</h3></li>
                    <li>Manage orders</li>
                    <li>Post a request</li>
                </ul>
            </div>
            <div class="profile__card">
                <ul>
                    <li><h3>General</h3></li>
                    <li>Online status</li>
                    <li>Payments</li>
                    <li>Invite friends</li>
                    <li>Support</li>
                </ul>
            </div>
        </div>
    </div>
</div>