@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';

@media (orientation: portrait) {
    .container {
        .navigation {
            z-index: 5;
            &__bar {
                background-color: $color-grey-light-1;
                position: fixed;
                bottom: -9.2rem;
                left: 0;
                transition: all .4s ease-out;

                width: 100%;
                z-index: 10;
                &--active {
                    transform: translateY(-9rem); }
                .navbar {
                    display: unset;
                    hr {
                      border-color: rgba($color-white, $alpha: 0.4);
                      border-width: .1rem;
                      border-style: solid none none none;
                      width: 95%;
                      margin: .2rem auto 1.6rem auto; }
                    &__icon-tray {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;

                        margin: 0 auto 2rem auto;
                        max-width: 60rem;
} } } } } }

@media (orientation: landscape) {
  #hamburger {
      font-size: 1.8rem; }
  .container {
      .navigation {
          z-index: 5;
          &__bar {
              background-color: $color-grey-light-1;
              position: fixed;
              bottom: -9.2rem;
              left: 0;
              transition: all .4s ease-out;

              width: 100%;
              z-index: 10;
              &--active {
                  transform: translateY(-9rem); }
              .navbar {
                  display: unset;
                  hr {
                    border-color: rgba($color-white, $alpha: 0.4);
                    border-width: .1rem;
                    border-style: solid none none none;
                    width: 95%;
                    margin: .2rem auto 1.6rem auto; }
                  &__icon-tray {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: space-evenly;

                      margin: 0 auto 2rem auto;
                      max-width: 60rem; } } } } } }

// @media  (orientation: landscape)
//         and (max-height: 369px) {}


// @media  (orientation: landscape)
//         and (min-height: 370px)
//         and (max-height: 767px) {}

// @media  (orientation: landscape)
//         and (min-height: 768px) {}
