<router-outlet></router-outlet>
<nav class="navbar">
    <div class="menu">
        <a [routerLink]="['/navigation/home']" src="" class="menu__home">home</a>
        <a [routerLink]="['/navigation/home']" src="" class="menu__search">search</a>
        <a [routerLink]="['/navigation/home']" src="" class="menu__inbox">inbox</a>
        <a [routerLink]="['/navigation/home']" src="" class="menu__notification">notification</a>
        <a [routerLink]="['/navigation/home']" src="" class="menu__my-profile">my profile</a>
        </div>
</nav>



