<router-outlet></router-outlet>
<div class="container">
	<div class="navigation">
      <a [routerLink]="" (click)="toggleMenu()" class="btn__master" id="hamburger">
		      <div><fa-icon [icon]="faBars"></fa-icon></div></a>
      <a *ngIf="!isFullscreen" [routerLink]="" (click)="toggleFullscreen()" class="btn__master" id="window">
		      <div><fa-icon [icon]="faExpandAlt"></fa-icon></div></a>
      <a *ngIf="isFullscreen" [routerLink]="" (click)="toggleFullscreen()" class="btn__master" id="window">
		      <div><fa-icon [icon]="faCompressAlt"></fa-icon></div></a>
		  <div class="navigation__bar navigation__bar--active" id="nav-bar">
			    <nav class="navbar">
				      <div class="navbar__icon-tray">
					        <a [routerLink]="" (click)="toggleMenu()" class="btn__soft-ui--emboss">
						          <div><fa-icon [icon]="faAngleDoubleDown"></fa-icon></div></a>
					        <a [routerLink]="['home']" routerLinkActive="active" class="btn__soft-ui--emboss">
						          <div><fa-icon [icon]="faHome"></fa-icon></div></a>
					        <a [routerLink]="['categories']" routerLinkActive="active" class="btn__soft-ui--emboss">
						          <div><fa-icon [icon]="faSearch"></fa-icon></div></a>
					        <a [routerLink]="['inbox']" routerLinkActive="active" class="btn__soft-ui--emboss">
						          <div><fa-icon [icon]="faEnvelope"></fa-icon></div></a>
					        <a [routerLink]="['notifications']" routerLinkActive="active" class="btn__soft-ui--emboss">
						          <div><fa-icon [icon]="faBell"></fa-icon></div></a>
					        <a [routerLink]="['profile']" routerLinkActive="active" class="btn__soft-ui--emboss">
						          <div><fa-icon [icon]="faUser"></fa-icon></div></a>
				      </div>
			    </nav>
		  </div>
	</div>
</div>
