@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';

.stage {
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__title {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-s; }
        &__search-box {
            position: relative;
            max-width: 60rem;
            width: 100%;
            input {
                background-color: $color-white;
                border-color: $color-grey-light-2;
                // border-color: rgba($color-primary-contrast, $alpha: .3);
                border-radius: .6rem;
                border-style: solid;
                border-width: .1rem;
                box-shadow: 0 .3rem .6rem rgba($color-primary-contrast, $alpha: 0.2);
                color: $color-primary-contrast;
                display: inline-block;
                font-size: 2rem;
                overflow: hidden;
                padding: .7rem 4rem .7rem 1rem;

                width: 100%;
                height: 4rem;
                &:focus {
                    outline: none; }
                &::placeholder {
                    color: rgba($color-primary-contrast, $alpha: .8); } }
            a {
                color: $color-primary-contrast;
                text-decoration: none; }
            &--icon {
                font-size: 2rem;
                position: absolute;
                top: 1rem;
                right: 1rem;

                width: 2.3rem;
                height: 2.3rem; } } }
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 1000px;
        h3 {
            font-size: 2rem;
            font-weight: 400;
            margin: 1.8rem auto 1rem auto;
            width: 100%; }
        .popular-services {
            // background-color: red;
            flex-grow: 1;
            &__card-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                .card {
                    &__preview {
                        &--logo-design {
                            background-image: url(../../assets/img/preview/card__logo-design@3x.png); }
                        &--logo-animation {
                            background-image: url(../../assets/img/preview/card__logo-animation@3x.png); }
                        &--business-cards {
                            background-image: url(../../assets/img/preview/card__business-card@3x.png); }
                        &--influencer-marketing {
                            background-image: url(../../assets/img/preview/card__influencer-marketing@3x.png); } } } }
            .see-all {
                text-align: right;
                width: 100%;
                a {
                    color: $color-primary; } } }
        .recently-viewed {
            // background-color: blue;
            flex-grow: 2;
            &__card-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between; }
            .see-all {
                text-align: right;
                width: 100%;
                a {
                    color: $color-primary; } } } } }
