@import '../../sass/abstract/variables';
        
.stage {
    background-color: $color-grey-light-1;
    padding: 4rem 1.6rem 6.6rem 1.6rem;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__home {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-s; }
        &__search-box {
            position: relative;
            max-width: 60rem;
            width: 100%;
            input {
                background-color: $color-white;
                border-color: $color-grey-light-2;
                // border-color: rgba($color-primary-contrast, $alpha: .3);
                border-radius: .6rem;
                border-style: solid;
                border-width: .1rem;
                box-shadow: 0 .3rem .6rem rgba($color-primary-contrast, $alpha: 0.2);
                color: $color-primary-contrast;
                display: inline-block;
                font-size: 2rem;
                overflow: hidden;
                padding: .7rem 4rem .7rem 1rem;
                
                width: 100%;
                height: 4rem;
                &:focus {
                    outline: none; }
                &::placeholder {
                    color: rgba($color-primary-contrast, $alpha: .8); } }
            a {
                color: $color-primary-contrast;
                text-decoration: none; }
            &--icon {
                font-size: 2rem;
                position: absolute;
                top: 1rem;
                right: 1rem;

                width: 2.3rem;
                height: 2.3rem; } } }
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 1000px;
        h3 {
            font-size: 2rem;
            font-weight: 400;
            margin: 1.8rem auto 1rem auto; 
            width: 100%; }
        .popular-services {
            // background-color: red;
            flex-grow: 1;
            &__card-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                .card {
                    &__preview {
                        &--logo-design {
                            background-image: url(../../assets/img/preview/card__logo-design@3x.png); } 
                        &--logo-animation {
                            background-image: url(../../assets/img/preview/card__logo-animation@3x.png); } 
                        &--business-cards {
                            background-image: url(../../assets/img/preview/card__business-card@3x.png); } 
                        &--influencer-marketing {
                            background-image: url(../../assets/img/preview/card__influencer-marketing@3x.png); } } } }
            .see-all {
                text-align: right;
                width: 100%;
                a {
                    color: $color-primary; } } }
        .recently-viewed {
            // background-color: blue;
            flex-grow: 2;
            &__card-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between; }
            .see-all {
                text-align: right;
                width: 100%;
                a {
                    color: $color-primary; } } } } }

@media only screen
    and (orientation: portrait)
    and (max-width: 359px) {
        .stage {
            padding: 3rem 3rem 9rem 3rem; }
        .card {
        width: 20rem;
        height: 24rem;
            &__preview {
                height: 16rem; }
            &__title {
                height: 8rem; } } }

@media only screen
    and (orientation: portrait)
    and (min-width: 360px)
    and (max-width: 374px) {
        .stage {
            padding: 3rem 3rem 9rem 3rem; }
        .card {
        width: 18rem;
        height: 21rem;
            &__preview {
                height: 15rem; }
            &__title {
                height: 6rem; } } }

@media only screen
    and (orientation: portrait) 
    and (min-width: 375px)
    and (max-width: 410px) {
        .stage {
            padding: 1.6rem 1.6rem 7.6rem 1.6rem; }
        .card {
        width: 16rem;
        height: 19rem;
            &__preview {
                height: 13rem; }
            &__title {
                height: 6rem; } } }

@media only screen 
    and (orientation: portrait) 
    and (min-width: 411px)
    and (max-width: 567px) {
        .stage {
            padding: 3rem 3rem 9rem 3rem; }
        .card {
        width: 16rem;
        height: 19rem;
            &__preview {
                height: 13rem; }
            &__title {
                height: 6rem; } } }

@media only screen
    and (orientation: portrait) 
    and (min-width: 568px)
    and (max-width: 767px) {
        .stage {
            padding: 3rem 3rem 9rem 3rem; }
        .card {
        width: 14rem;
        height: 17rem;
            &__preview {
                height: 12rem; }
            &__title {
                height: 5rem; } } }

@media only screen
    and (orientation: portrait) 
    and (min-width: 768px)
    and (max-width: 1023px) {
        .stage {
            padding: 5rem 5rem 11rem 5rem; }
        .card {
        width: 20rem;
        height: 24rem;
            &__preview {
                height: 17rem; }
            &__title {
                height: 7rem; } } }
                
@media only screen
    and (orientation: portrait) 
    and (min-width: 1024px) {
        .stage {
            padding: 5rem 5rem 11rem 5rem; }
        .card {
        width: 22rem;
        height: 26rem;
            &__preview {
                height: 18rem; }    
            &__title {
                height: 8rem; } 
            h4 {
                padding: 0 2rem; } } }

// @media only screen and (max-width: 359px) {
//     html {
//         font-size: 40%; }
//     .stage {
//         padding: 3rem 3rem 9rem 3rem; }
//     .card {
//     width: 20rem;
//     height: 24rem;
//         img {
//             border-color: white;
//             border-bottom-left-radius: 1.2rem;
//             border-bottom-right-radius: 1.2rem;
//             border-style: solid;
//             border-width: .1rem;
//             width: 20rem;
//             height: 16rem; } } }

// @media only screen and (min-width: 360px) and (max-width: 374px) {
//     .stage {
//         padding: 3rem 3rem 9rem 3rem; }
//     .card {
//     width: 18rem;
//     height: 21rem;
//         img {
//             border-color: white;
//             border-bottom-left-radius: 1.2rem;
//             border-bottom-right-radius: 1.2rem;
//             border-style: solid;
//             border-width: .1rem;
//             width: 18rem;
//             height: 15rem; } } }

// @media only screen and (min-width: 375px) and (max-width: 410px) {
//     .stage {
//         padding: 1.6rem 1.6rem 7.6rem 1.6rem; }
//     .card {
//     width: 16rem;
//     height: 19rem;
//         img {
//             border-color: white;
//             border-bottom-left-radius: 1.2rem;
//             border-bottom-right-radius: 1.2rem;
//             border-style: solid;
//             border-width: .1rem;
//             width: 16rem;
//             height: 13rem; } } }