@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';

.stage {
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__title {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-s; }
        &__search-box {
            position: relative;
            max-width: 50rem;
            width: calc(100% - 1rem);

            input[type=text] {
                @include soft-ui__card--hover;
                    border: .1rem solid rgba($color-primary-contrast, $alpha: 0.2);
                    transform: translateY(0);

                color: $color-primary-contrast;
                display: inline-block;
                font-size: 1.8rem;
                overflow: hidden;
                padding: .7rem 7rem .7rem 1.7rem;
                transition: all 1s;

                width: 100%;
                height: 4rem;
                &:focus ~ .btn--search {
                    @include soft-ui__card;

                    color: $color-primary;
                    transition: all .4s;
                    &:hover {
                      color: $color-white;
                    } }
                &:focus {
                    @include soft-ui__card--hover;
                        border: .1rem solid rgba($color: #ffffff, $alpha: 0.6);
                        transform: translateY(0);

                    outline: none; }
                &::placeholder {
                    color: rgba($color-primary-contrast, $alpha: .8); } }
            a {
                color: $color-primary-contrast;
                text-decoration: none; }
            .btn {
            &--search {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                color: $color-primary-contrast;
                font-size: 1.4rem;

                position: absolute;
                right: .5rem;
                top: .5rem;

                width: 6rem;
                height: 3rem;
                &:link, &:visited {
                    @include soft-ui__btn-inset;
                    color: $color-primary-contrast; }
                &:hover {
                    @include soft-ui__btn-inset--hover;
                        box-shadow:
                            inset -.2rem -.2rem .8rem rgba($color: #ffffff, $alpha: 0.8),
                            // -.2rem -.2rem .12rem rgba($color: #ffffff, $alpha: 0.6),
                            inset .2rem .2rem .6rem rgba($color: #000000, $alpha: 0.1),
                            inset .2rem .2rem 20rem rgba($color: #ffffff, $alpha: 0.1);

                    color: $color-primary; }
                &:active {
                    @include soft-ui__btn-inset--active;
                        transform: translateY(0);

                    color: $color-primary-contrast; } } } } }
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 1000px;
        h3 {
            font-size: 2rem;
            font-weight: 400;
            margin: 1.8rem auto 1rem .5rem;
            width: 100%; }
        .popular-services {
            // background-color: goldenrod;
            flex-grow: 1;
            &__card {
              text-decoration: none; }
            &__card-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                // background-color: goldenrod;
                .card {
                    &__preview {
                        &--logo-design {
                            background-image: url(../../assets/img/preview/card__logo-design@3x.png); }
                        &--logo-animation {
                            background-image: url(../../assets/img/preview/card__logo-animation@3x.png); }
                        &--business-cards {
                            background-image: url(../../assets/img/preview/card__business-card@3x.png);}
                        &--influencer-marketing {
                            background-image: url(../../assets/img/preview/card__influencer-marketing@3x.png); } } } }
            .see-all {
                text-align: right;
                width: 100%;
                a {
                    color: $color-primary-shade;
                    text-decoration: none; } } }
        .recently-viewed {
            flex-grow: 2;
            &__card {
              text-decoration: none; }
            &__card-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between; }

                // background-color: goldenrod;
            .see-all {
                text-align: right;
                width: 100%;
                a {
                    color: $color-primary-shade;
                    text-decoration: none; }
} } } }
