<div class="stage">
    <div class="heading">
        <div class="heading__title">
            <p class="findworkr-logo">findWorkr</p>
        </div>
        <div class="heading__search-box">
            <input type="text" placeholder="Search">
            <a [routerLink]="['/navigation/home']" class="btn--search">
                <fa-icon [icon]="faSearch"></fa-icon></a>
        </div>
    </div>
</div>

<div class="section" id="section-1">
    <div class="stage">
        <div class="contents util-center">
            <div class="popular-services">
                <div class="popular-services__card-box">
                    <h3>Popular Services</h3>
                    <a [routerLink]="['/navigation/home']" class="card">
                      <div>
                        <div class="card__preview card__preview--logo-design"></div>
                        <div class="card__title"><h4>Logo Design</h4></div></div></a>
                    <a [routerLink]="['/navigation/home']" class="card">
                      <div>
                        <div class="card__preview card__preview--logo-animation"></div>
                        <div class="card__title"><h4>Logo Animation</h4></div></div></a>
                    <a [routerLink]="['/navigation/home']" class="card">
                      <div>
                        <div class="card__preview card__preview--printings"></div>
                        <div class="card__title"><h4>Printings</h4></div></div></a>
                    <a [routerLink]="['/navigation/home']" class="card">
                      <div>
                        <div class="card__preview card__preview--influencer-marketing"></div>
                        <div class="card__title"><h4>Influencer Marketing</h4></div></div></a>

                        <!-- Extra Content -->
                        <a *ngIf="wholeContentSection1" [routerLink]="['/navigation/home']" class="card"></a>
                        <a *ngIf="wholeContentSection1" [routerLink]="['/navigation/home']" class="card"></a>
                        <a *ngIf="wholeContentSection1" [routerLink]="['/navigation/home']" class="card"></a>
                        <a *ngIf="wholeContentSection1" [routerLink]="['/navigation/home']" class="card"></a>
                        <a *ngIf="wholeContentSection1" [routerLink]="['/navigation/home']" class="card"></a>

                    <div *ngIf="!wholeContentSection1" (click)="seeAll('section-1')" class="sizing"><a [routerLink]="['/navigation/home']">See all</a></div>
                    <div *ngIf="wholeContentSection1" (click)="seeLess('section-1')" class="sizing"><a [routerLink]="['/navigation/home']">See less</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section util-margin-bottom-l" id="section-2">
    <div class="stage">
        <div class="contents util-center">
            <div class="recently-viewed">
                <div class="recently-viewed__card-box">
                    <h3>Recently Viewed and More</h3>
                    <a [routerLink]="['/navigation/home']" class="card"></a>
                    <a [routerLink]="['/navigation/home']" class="card"></a>
                    <a [routerLink]="['/navigation/home']" class="card"></a>
                    <a [routerLink]="['/navigation/home']" class="card"></a>

                    <!-- Extra Content -->
                    <a *ngIf="wholeContentSection2" [routerLink]="['/navigation/home']" class="card"></a>
                    <a *ngIf="wholeContentSection2" [routerLink]="['/navigation/home']" class="card"></a>
                    <a *ngIf="wholeContentSection2" [routerLink]="['/navigation/home']" class="card"></a>
                    <a *ngIf="wholeContentSection2" [routerLink]="['/navigation/home']" class="card"></a>
                    <a *ngIf="wholeContentSection2" [routerLink]="['/navigation/home']" class="card"></a>

                <div *ngIf="!wholeContentSection2" (click)="seeAll('section-2')" class="sizing"><a [routerLink]="['/navigation/home']">See all</a></div>
                <div *ngIf="wholeContentSection2" (click)="seeLess('section-2')" class="sizing"><a [routerLink]="['/navigation/home']">See less</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
