@import '../../sass/abstract/variables';
@import '../../sass/global/media-queries';
@import '../../sass/abstract/mixins';

.stage {
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        &__title {
            color: $color-primary;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: $margin-bottom-s; } }
    .content {
        @include soft-ui__card;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 75vh;
        p {
            color: $color-primary-contrast;
            font-size: 1.6rem; }
        &__icon {
            font-size: 8rem;
            margin-bottom: $margin-bottom-s; } } }

@media  (orientation: landscape)
    and (max-height: 414px) {
    .stage .content {
        height: 70vh;
    }
}
